openapi: 3.0.3
info:
  title: MayBind API
  description: MayBind SDK API for AI agent interactions
  version: 1.0.0
servers:
  - url: https://sdk.maybind.com
    description: Production API server
paths:
  /health:
    get:
      summary: Health Check
      description: Health check endpoint to verify application and internal service status.
      operationId: health_check_health_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /verify-api-key:
    get:
      summary: Verify Api Key
      description: |
        Verify if the provided API key is valid.
        This endpoint is useful for SDK configuration validation.

        Headers:
            X-Api-Key: <your-api-key>

        Returns:
            200: API key is valid
            401: API key is invalid or missing
      operationId: verify_api_key_verify_api_key_get
      security:
        - ApiKeyAuth: []
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /users:
    get:
      summary: Get Users
      description: Returns a list of twin_id.
      operationId: get_users_users_get
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
  /chat:
    post:
      summary: Chat
      description: |
        Send a message with history to a specific Digital Twin.
        Requires X-API-Key header for authentication.
        Calls the internal API POST /chat

         Headers:
            X-Api-Key: <your-api-key>

        Body JSON should contain:
        {
            "twin_id": "<string>",
            "messages": [
                {
                    "timestamp": "<ISO8601 UTC string>",
                    "text": "<string>",
                    "role": "system"|"twin",
                    "source_twin_id": "<string>"
                }, ...
            ]
        }
      operationId: chat_chat_post
      security:
        - ApiKeyAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/ChatRequest'
      responses:
        '200':
          description: Successful Response
          content:
            application/json:
              schema: {}
        '422':
          description: Validation Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/HTTPValidationError'
components:
  schemas:
    ChatRequest:
      title: ChatRequest
      required:
        - twin_id
        - messages
      type: object
      properties:
        twin_id:
          title: Twin Id
          type: string
        messages:
          title: Messages
          type: array
          items:
            type: object
            additionalProperties: true
    HTTPValidationError:
      title: HTTPValidationError
      type: object
      properties:
        detail:
          title: Detail
          type: array
          items:
            $ref: '#/components/schemas/ValidationError'
    ValidationError:
      title: ValidationError
      required:
        - loc
        - msg
        - type
      type: object
      properties:
        loc:
          title: Location
          type: array
          items:
            anyOf:
              - type: string
              - type: integer
        msg:
          title: Message
          type: string
        type:
          title: Error Type
          type: string
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-Api-Key
